trigger:
- main

pool:
  name: Default
variables:
  buildConfiguration: Release

steps:
# ---------------- CHECKOUT ----------------
- checkout: self

# ---------------- VERIFY AGENT ----------------
- script: |
    echo "Agent info:"
    hostname
    whoami
    dotnet --version
    java -version
    mvn -version
  displayName: 'Verify agent & tools'

# ---------------- DOTNET BUILD ----------------
- script: |
    cd dotnet-app
    dotnet restore
    dotnet build --configuration $(buildConfiguration)
    dotnet publish \
      --configuration $(buildConfiguration) \
      --output $(Build.ArtifactStagingDirectory)/dotnet
  displayName: 'Build & Publish .NET App'

# ---------------- JAVA BUILD ----------------
- script: |
    cd java-app
    mvn clean package -DskipTests
    mkdir -p $(Build.ArtifactStagingDirectory)/java
    cp target/*.jar $(Build.ArtifactStagingDirectory)/java/
  displayName: 'Build & Package Java App'

# ---------------- PUBLISH ARTIFACTS ----------------
- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: $(Build.ArtifactStagingDirectory)
    artifactName: app-build-artifacts
  displayName: 'Publish Build Artifacts'